
body{
	padding:0px;
	margin:0px;
}

h2{
	color:#032B53;
	}

p{
	line-height:150%;
	color:#032B53;
	text-align:left;
}

#wrapper{
	margin:0px;
	padding:0px;
}

#topW{
	height:175px;
	width: 850px;
	z-index:1;
	padding:0px;
	margin:auto;
	text-align: center;
}

#banner{
	float:right;
	margin:auto;
	width:850px;
	height:130px;
	position:absolute;
}

#banner img{
	margin:0 auto;
	height:150px;
	width:850px;
	
	}
#navbar{
	width: 850px;
	height:30;
	float:left;
	display:block;
	margin:145px 0px 0px 0px ;
	vertical-align: center;
	position:absolute;
	background-color: #032B53;
	border-radius:5px 5px 0px 0px;
	
}

#navbar ul{
	padding:2px 0px 0px 0px;
	margin:0;
}

#navbar ul li{
	border-right: white solid 1px;
	padding:0px 15px 0px 15px;
	font-size: 22px;
	vertical-align:center;
	display: inline;
	color:white; 
	
}

#navbar ul li a:link{color:white;text-decoration:none;}

#navbar ul li a:visited{color:white;text-decoration:none;}
#navbar ul li a:unvisited{color:white;text-decoration:none;}
#navbar ul li a:hover{font-size:24;}

#navbar ul li:nth-child(5){border-right:0;}

#middleW{
	width:850px;
	height:1000px;
	margin:auto;
	z-index:2;
	text-align: center;
	background-color:#EEEEEE;
	border-radius:0px 0px 5px 5px;
}

#container{
	column-count:2;
	width:850px;
	margin:auto;
	background-color:#E0E0E0;
	border-radius:5px;
	position:relative;
}

#bottomW{
	clear: both;
	padding:0px;
	margin:auto;
	height: 80px;
	width: 850px;
	background-color: #B0B1D0;
	text-align: center;
	border-radius:5px;
}


.right{
	margin-top: 30px;
	position:relative;
	padding:10px;
	border:0px;
	float:right;
	width:15%;
	height:500px;
	background-color:#F5F5F5;
	border-radius:8px;
	box-shadow:0px 5px 5px #888888;
	margin-right:5px;
	
}

.content{
	padding:10px;
	width:75%;
	position:center;
	background-color:#F5F5F5;
	float:left;
	border-radius:8px;
	box-shadow:5px 5px 5px #888888;
	margin-top:20px;
	margin-left:10px;

}
	
#banner #title a{
	display:block;
	float:left;
	width:960px;
	height:105px;
	margin:0;
	padding:0;
	overflow:hidden;
}
