body{
	padding:0px;
	margin:0px;
	height:100%;
}
#wrapper{
	padding:0px;
	margin: 0px;
	height: 30px;
	width: 100%;
	min-width:1000px;
	background-color: #032B53;
	text-align: center;
}
#header{
	margin:auto;
	position: center;
	border-left: white solid 1px;
	border-right: white solid 1px;
	width: 70%;
	height:100%;
	
}
#header li{
	border-left: white solid 1px;
	padding-left:2px;
	font-size: 22px;
	vertical-align:center;
	display: inline;
	color:white;
}
#bwrapper{
	clear: both;
	padding:0px;
	margin: 0px;
	height: 60px;
	width: 100%;
	min-width:1000px;
	background-color: #B0B1D0;
	text-align: center;
}

.right{
	float:right;
	width:15%;
	height:300px;
	border:dashed blue 1px;
}

.left{
	float:left;
	width:80%;
	height:300px;
	border:dashed blue 1px;
}
